@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
}

header {
    position: fixed;
    width: 100vw;    background: linear-gradient(to right top, #65dfc9, #6cdbe1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}

.logo {
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;


}

li, a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.nav-links {
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
}

.nav-links li {
    padding: 0 40px;
    color: white;

}

.nav-links li a:hover {
    color: #342543;

}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbe1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 65%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    margin:20px;

}

.carousel {
    background: white;
    min-height: 80vh;
    width: 28%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
}
.carousel h2{
    text-align: center;
    font-size: 3rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;

}

.copyright {
    color: #342543;
    padding-top: -20px;
}
